:root {
  /* Colors */

  --base-white: #fff;
  --base-black: #000;
  
  --gray-13a: rgba(15, 19, 36, 0.95);
  --gray-12a: rgba(15, 19, 36, 0.9);
  --gray-11a: rgba(15, 19, 36, 0.8);
  --gray-10a: rgba(15, 19, 36, 0.7);
  --gray-6a: rgba(10, 15, 41, 0.3);
  --gray-5a: rgba(10, 15, 41, 0.25);
  --gray-4a: rgba(10, 15, 41, 0.2);
  --gray-3a: rgba(10, 15, 41, 0.14);
  --gray-1a: rgba(10, 15, 41, 0.04);
  --gray-12: #1f2228;
  --gray-11: #333;
  --gray-10: #464a53;
  --gray-9: #5e636e;
  --gray-8: #717684;
  --gray-7: #7e869a;
  --gray-6: #9ea2ad;
  --gray-5: #babdc5;
  --gray-4: #c8cad0;
  --gray-3: #dee0e3;
  --gray-2: #e9eaec;
  --gray-1: #f7f7f8;

  --blue-11a: rgba(51, 104, 240, 0.9);
  --blue-10a: rgba(51, 104, 240, 0.8);
  --blue-9a: rgba(51, 104, 240, 0.7);
  --blue-8a: rgba(51, 104, 240, 0.6);
  --blue-7a: rgba(51, 104, 240, 0.5);
  --blue-6a: rgba(51, 104, 240, 0.4);
  --blue-5a: rgba(51, 104, 240, 0.3);
  --blue-4a: rgba(51, 104, 240, 0.25);
  --blue-3a: rgba(51, 104, 240, 0.2);
  --blue-2a: rgba(51, 104, 240, 0.15);
  --blue-1a: rgba(51, 104, 240, 0.1);
  --blue-13: #03153a;
  --blue-12: #07296a;
  --blue-11: #133a9a;
  --blue-10: #1a4ac7;
  --blue-9: #1d54e2;
  --blue-8: #4778f5;
  --blue-7: #5984f2;
  --blue-6: #7196f4;
  --blue-5: #93aff6;
  --blue-4: #b4c7f8;
  --blue-3: #ccd9fa;
  --blue-2: #e3eafd;
  --blue-1: #f0f4fe;

  --green-11a: rgba(38, 189, 108, 0.9);
  --green-10a: rgba(38, 189, 108, 0.8);
  --green-9a: rgba(38, 189, 108, 0.7);
  --green-8a: rgba(38, 189, 108, 0.6);
  --green-7a: rgba(38, 189, 108, 0.5);
  --green-6a: rgba(38, 189, 108, 0.4);
  --green-5a: rgba(38, 189, 108, 0.3);
  --green-4a: rgba(38, 189, 108, 0.25);
  --green-3a: rgba(38, 189, 108, 0.2);
  --green-2a: rgba(38, 189, 108, 0.15);
  --green-1a: rgba(38, 189, 108, 0.1);
  --green-13: #072213;
  --green-12: #0f4c2c;
  --green-11: #166e3f;
  --green-10: #1d9052;
  --green-9: #21a65e;
  --green-8: #26bd6c;
  --green-7: #40d986;
  --green-6: #6ae1a1;
  --green-5: #8ce8b6;
  --green-4: #9af4c3;
  --green-3: #c3f8dc;
  --green-2: #d1fae4;
  --green-1: #edfdf4;

  --orange-11a: rgba(244, 142, 47, 0.9);
  --orange-10a: rgba(244, 142, 47, 0.8);
  --orange-9a: rgba(244, 142, 47, 0.7);
  --orange-8a: rgba(244, 142, 47, 0.6);
  --orange-7a: rgba(244, 142, 47, 0.5);
  --orange-6a: rgba(244, 142, 47, 0.4);
  --orange-5a: rgba(244, 142, 47, 0.3);
  --orange-4a: rgba(244, 142, 47, 0.25);
  --orange-3a: rgba(244, 142, 47, 0.2);
  --orange-2a: rgba(244, 142, 47, 0.15);
  --orange-1a: rgba(244, 142, 47, 0.1);
  --orange-13: #301903;
  --orange-12: #613105;
  --orange-11: #ae590a;
  --orange-10: #d56c0b;
  --orange-9: #e9760c;
  --orange-8: #f48e2f;
  --orange-7: #f6a355;
  --orange-6: #f8b577;
  --orange-5: #f9c594;
  --orange-4: #fad0a9;
  --orange-3: #fcddc0;
  --orange-2: #fdead8;
  --orange-1: #fef4ec;

  --red-10a: rgba(230, 72, 61, 0.8);
  --red-9a: rgba(230, 72, 61, 0.7);
  --red-8a: rgba(230, 72, 61, 0.6);
  --red-7a: rgba(230, 72, 61, 0.5);
  --red-6a: rgba(230, 72, 61, 0.4);
  --red-5a: rgba(230, 72, 61, 0.3);
  --red-4a: rgba(230, 72, 61, 0.25);
  --red-3a: rgba(230, 72, 61, 0.2);
  --red-2a: rgba(230, 72, 61, 0.15);
  --red-1a: rgba(230, 72, 61, 0.1);
  --red-13: #360a07;
  --red-12: #64120d;
  --red-11: #9a1c13;
  --red-10: #be2318;
  --red-9: #d9281c;
  --red-8: #e6483d;
  --red-7: #eb6960;
  --red-6: #f08b85;
  --red-5: #f5b2ad;
  --red-4: #f7c3c0;
  --red-3: #f9d4d2;
  --red-2: #fce5e4;
  --red-1: #fdf2f1;

  --purple-11a: rgba(135, 61, 230, 0.9);
  --purple-10a: rgba(135, 61, 230, 0.8);
  --purple-9a: rgba(135, 61, 230, 0.7);
  --purple-8a: rgba(135, 61, 230, 0.6);
  --purple-7a: rgba(135, 61, 230, 0.5);
  --purple-6a: rgba(135, 61, 230, 0.4);
  --purple-5a: rgba(135, 61, 230, 0.3);
  --purple-4a: rgba(135, 61, 230, 0.25);
  --purple-3a: rgba(135, 61, 230, 0.2);
  --purple-2a: rgba(135, 61, 230, 0.15);
  --purple-1a: rgba(135, 61, 230, 0.1);
  --purple-13: #1c0736;
  --purple-12: #3a0f71;
  --purple-11: #5314a3;
  --purple-10: #6619c7;
  --purple-9: #741de2;
  --purple-8: #924fe8;
  --purple-7: #a265eb;
  --purple-6: #b78af0;
  --purple-5: #cdaef4;
  --purple-4: #d8c0f7;
  --purple-3: #e1cdf9;
  --purple-2: #ecdffb;
  --purple-1: #f7f1fd;

  --semantic-neutral-13a: rgba(15, 19, 36, 0.95);
  --semantic-neutral-12a: rgba(15, 19, 36, 0.9);
  --semantic-neutral-11a: rgba(15, 19, 36, 0.8);
  --semantic-neutral-10a: rgba(15, 19, 36, 0.7);
  --semantic-neutral-8a: rgba(15, 19, 36, 0.5);
  --semantic-neutral-6a: rgba(10, 15, 41, 0.3);
  --semantic-neutral-5a: rgba(10, 15, 41, 0.25);
  --semantic-neutral-4a: rgba(10, 15, 41, 0.2);
  --semantic-neutral-3a: rgba(10, 15, 41, 0.14);
  --semantic-neutral-1a: rgba(10, 15, 41, 0.04);
  --semantic-neutral-0a: rgba(255, 255, 255, 0);
  --semantic-neutral-13: #14151a;
  --semantic-neutral-12: #1f2228;
  --semantic-neutral-11: #333;
  --semantic-neutral-10: #464a53;
  --semantic-neutral-9: #5e636e;
  --semantic-neutral-8: #717684;
  --semantic-neutral-7: #7e869a;
  --semantic-neutral-6: #9ea2ad;
  --semantic-neutral-5: #babdc5;
  --semantic-neutral-4: #c8cad0;
  --semantic-neutral-3: #dee0e3;
  --semantic-neutral-2: #e9eaec;
  --semantic-neutral-1: #f7f7f8;

  --semantic-inverted-13a: rgba(255, 255, 255, 0.95);
  --semantic-inverted-12a: rgba(255, 255, 255, 0.9);
  --semantic-inverted-11a: rgba(255, 255, 255, 0.8);
  --semantic-inverted-10a: rgba(255, 255, 255, 0.7);
  --semantic-inverted-9a: rgba(255, 255, 255, 0.6);
  --semantic-inverted-8a: rgba(255, 255, 255, 0.5);
  --semantic-inverted-7a: rgba(255, 255, 255, 0.46);
  --semantic-inverted-6a: rgba(255, 255, 255, 0.4);
  --semantic-inverted-5a: rgba(255, 255, 255, 0.32);
  --semantic-inverted-4a: rgba(255, 255, 255, 0.24);
  --semantic-inverted-3a: rgba(255, 255, 255, 0.18);
  --semantic-inverted-2a: rgba(255, 255, 255, 0.14);
  --semantic-inverted-1a: rgba(255, 255, 255, 0.08);
  --semantic-inverted-0a: rgba(255, 255, 255, 0);
  --semantic-inverted-13: #f7f7f8;
  --semantic-inverted-12: #e9eaec;
  --semantic-inverted-11: #dee0e3;
  --semantic-inverted-10: #c8cad0;
  --semantic-inverted-9: #babdc5;
  --semantic-inverted-8: #9ea2ad;
  --semantic-inverted-7: #7e869a;
  --semantic-inverted-6: #717684;
  --semantic-inverted-5: #5e636e;
  --semantic-inverted-4: #464a53;
  --semantic-inverted-3: #333;
  --semantic-inverted-2: #1f2228;
  --semantic-inverted-0: #0b0c0e;

  --semantic-positive-11a: rgba(38, 189, 108, 0.9);
  --semantic-positive-10a: rgba(38, 189, 108, 0.8);
  --semantic-positive-9a: rgba(38, 189, 108, 0.7);
  --semantic-positive-8a: rgba(38, 189, 108, 0.6);
  --semantic-positive-7a: rgba(38, 189, 108, 0.5);
  --semantic-positive-6a: rgba(38, 189, 108, 0.4);
  --semantic-positive-5a: rgba(38, 189, 108, 0.3);
  --semantic-positive-4a: rgba(38, 189, 108, 0.25);
  --semantic-positive-3a: rgba(38, 189, 108, 0.2);
  --semantic-positive-2a: rgba(38, 189, 108, 0.15);
  --semantic-positive-1a: rgba(38, 189, 108, 0.1);
  --semantic-positive-13: #072213;
  --semantic-positive-12: #0f4c2c;
  --semantic-positive-11: #166e3f;
  --semantic-positive-10: #1d9052;
  --semantic-positive-9: #21a65e;
  --semantic-positive-8: #26bd6c;
  --semantic-positive-7: #40d986;
  --semantic-positive-6: #6ae1a1;
  --semantic-positive-5: #8ce8b6;
  --semantic-positive-4: #9af4c3;
  --semantic-positive-3: #c3f8dc;
  --semantic-positive-2: #d1fae4;
  --semantic-positive-1: #edfdf4;

  --semantic-informative-11a: rgba(51, 104, 240, 0.9);
  --semantic-informative-10a: rgba(51, 104, 240, 0.8);
  --semantic-informative-9a: rgba(51, 104, 240, 0.7);
  --semantic-informative-8a: rgba(51, 104, 240, 0.6);
  --semantic-informative-7a: rgba(51, 104, 240, 0.5);
  --semantic-informative-6a: rgba(51, 104, 240, 0.4);
  --semantic-informative-5a: rgba(51, 104, 240, 0.3);
  --semantic-informative-4a: rgba(51, 104, 240, 0.25);
  --semantic-informative-3a: rgba(51, 104, 240, 0.2);
  --semantic-informative-2a: rgba(51, 104, 240, 0.15);
  --semantic-informative-1a: rgba(51, 104, 240, 0.1);
  --semantic-informative-13: #03153a;
  --semantic-informative-12: #07296a;
  --semantic-informative-11: #133a9a;
  --semantic-informative-10: #1a4ac7;
  --semantic-informative-9: #1d54e2;
  --semantic-informative-8: #4778f5;
  --semantic-informative-7: #5984f2;
  --semantic-informative-6: #7196f4;
  --semantic-informative-5: #93aff6;
  --semantic-informative-4: #b4c7f8;
  --semantic-informative-3: #ccd9fa;
  --semantic-informative-2: #e3eafd;
  --semantic-informative-1: #f0f4fe;

  --semantic-negative-11a: rgba(230, 72, 61, 0.9);
  --semantic-negative-10a: rgba(230, 72, 61, 0.8);
  --semantic-negative-9a: rgba(230, 72, 61, 0.7);
  --semantic-negative-8a: rgba(230, 72, 61, 0.6);
  --semantic-negative-7a: rgba(230, 72, 61, 0.5);
  --semantic-negative-6a: rgba(230, 72, 61, 0.4);
  --semantic-negative-5a: rgba(230, 72, 61, 0.3);
  --semantic-negative-4a: rgba(230, 72, 61, 0.25);
  --semantic-negative-3a: rgba(230, 72, 61, 0.2);
  --semantic-negative-2a: rgba(230, 72, 61, 0.15);
  --semantic-negative-1a: rgba(230, 72, 61, 0.1);
  --semantic-negative-13: #360a07;
  --semantic-negative-12: #64120d;
  --semantic-negative-11: #9a1c13;
  --semantic-negative-10: #be2318;
  --semantic-negative-9: #d9281c;
  --semantic-negative-8: #e6483d;
  --semantic-negative-7: #eb6960;
  --semantic-negative-6: #f08b85;
  --semantic-negative-5: #f5b2ad;
  --semantic-negative-4: #f7c3c0;
  --semantic-negative-3: #f9d4d2;
  --semantic-negative-2: #fce5e4;
  --semantic-negative-1: #fdf2f1;

  --semantic-brand-11a: rgba(135, 61, 230, 0.9);
  --semantic-brand-10a: rgba(135, 61, 230, 0.8);
  --semantic-brand-9a: rgba(135, 61, 230, 0.7);
  --semantic-brand-8a: rgba(135, 61, 230, 0.6);
  --semantic-brand-7a: rgba(135, 61, 230, 0.5);
  --semantic-brand-6a: rgba(135, 61, 230, 0.4);
  --semantic-brand-5a: rgba(135, 61, 230, 0.3);
  --semantic-brand-4a: rgba(135, 61, 230, 0.25);
  --semantic-brand-3a: rgba(135, 61, 230, 0.2);
  --semantic-brand-2a: rgba(135, 61, 230, 0.15);
  --semantic-brand-1a: rgba(135, 61, 230, 0.1);
  --semantic-brand-13: #1c0736;
  --semantic-brand-12: #3a0f71;
  --semantic-brand-11: #5314a3;
  --semantic-brand-10: #6619c7;
  --semantic-brand-9: #741de2;
  --semantic-brand-8: #924fe8;
  --semantic-brand-7: #a265eb;
  --semantic-brand-6: #b78af0;
  --semantic-brand-5: #cdaef4;
  --semantic-brand-4: #d8c0f7;
  --semantic-brand-3: #e1cdf9;
  --semantic-brand-2: #ecdffb;
  --semantic-brand-1: #f7f1fd;

  /* Typography */

  --font-size-caption-m: 12px;
  --font-size-caption-s: 10px;
  --font-size-body-s: 16px;
  --font-size-caption-l: 14px;
  --font-size-body-m: 18px;
  --font-size-body-l: 20px;
  --font-size-h6: 24px;
  --font-size-h5: 30px;
  --font-size-h4: 36px;
  --font-size-h3: 48px;
  --font-size-h2: 64px;
  --font-size-h1: 72px;
  --font-size-display: 96px;
  --font-size-3xs: 10px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-11xl: 30px;
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;
  --font-size-45xl: 64px;
  --font-size-53xl: 72px;
  --font-size-77xl: 96px;
  --font-size-inherit: inherit;

  --line-height-caption-m: 16px;
  --line-height-caption-s: 14px;
  --line-height-body-s: 24px;
  --line-height-caption-l: 20px;
  --line-height-body-m: 26px;
  --line-height-body-l: 28px;
  --line-height-h6: 32px;
  --line-height-h5: 36px;
  --line-height-h4: 44px;
  --line-height-h3: 56px;
  --line-height-h2: 72px;
  --line-height-h1: 80px;
  --line-height-display: 100px;

  --letter-spacing-caption-m: 0px;
  --letter-spacing-caption-s: 0px;
  --letter-spacing-body-s: -0.2px;
  --letter-spacing-caption-l: -0.1px;
  --letter-spacing-body-m: -0.2px;
  --letter-spacing-body-l: -0.2px;
  --letter-spacing-h6: -0.3px;
  --letter-spacing-h5: -0.5px;
  --letter-spacing-h4: -0.7px;
  --letter-spacing-h3: -1px;
  --letter-spacing-h2: -1.7px;
  --letter-spacing-h1: -2.2px;
  --letter-spacing-display: -3.6px;
}